

.imgContent{
    width: 900px;
    height: 200px;
    margin-left: 60px;
}

.user{
    display: grid;
    grid-template-areas:'img about '  ;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    margin-top: 10px;
}
.imgContent1{
    width: 150px;
    height: 150px;
    grid-area: img;
    padding: 10px;
}

.about{
    grid-area: about;
    padding: 10px;
}


.name{
    color: red;
}