.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: none;
}

.active{
    color: gold;
    text-decoration: none;
}

.Massages{
    padding: 10px;
}

.message{
 color: white;
}