.nav{
    grid-area: n;
    background-image: url("../../assets/images/2bc571092071fc5a522c3a85988bf888.jpeg");
    padding: 20px;

}
.item{
    color: white;
    text-decoration: none;

}
.items{
    position: fixed;
}

.active{
    color: #11f801;
    text-transform: none;
    text-decoration: none;
}